#header {

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

    height: 100px;
    background-color: #333;
    color: #ddd;
    padding: 0px 20px;
    transition: height 0.3s ease-in-out;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#header-always-visible {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 500;
}


#header h1 {
    line-height: 100px;
    margin: 0px;
    padding-left: 30px;
}

#header-menu-icon {
    padding: 30px;
    transition: transform 0.3s;
}

#header-menu-icon svg {
    position: relative;
    bottom: -5px;
}

#header-menu-hidden {
    margin-bottom: 20px;
}

#header-menu-listgroup {
    opacity: 0;
    transition: opacity 0.5s;
    width: 100%;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 100px);
}

.header-menu-item {
    background-color: rgba(0, 0, 0, 0);
}