#signup-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 0px 10%;

    color: #333;
}

#signup-wrapper > h1 {
    margin-bottom: 50px;
}

#signup-wrapper form {
    width: 100%;
}